## Pandas
-  It is a popular open-source data manipulation and analysis library for Python.
- It provides data structures and functions for efficiently working with structured data, such as tabular data, time series, and more.
-  Pandas is widely used in data science, data analysis, and machine learning tasks.

### Data loading in Pandas
- In pandas you can load data from various places such csv,sql and json.

In [ ]:
import pandas as pd
loader=pd.read_csv("customers.csv") #csv
print(loader.head(5))
#df = pd.read_excel('data.xlsx', sheet_name='Sheet1')
#df = pd.read_json('data.xlsx')
#df = pd.read_csv("https://example.com/data.csv")

In [ ]:
import sqlite3
import pandas as pd

# Create a connection
conn = sqlite3.connect("pictureparadise.db")

cur = conn.cursor()

# Execute the SQL statement to create the table
cur.execute("""
    CREATE TABLE IF NOT EXISTS mabz (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name VARCHAR(40),
        country VARCHAR(20)
    );
""")

# Insert data into the table
cur.execute("""
INSERT INTO mabz (name, country) VALUES ("Salim ali", "Kenya");
""")
conn.commit()

# Read the data from the table into a DataFrame
query = "SELECT * FROM mabz"
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Print the DataFrame
print(df)

In [ ]:
import pandas as pd
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect("pictureparadise.db")

# Query the table and retrieve the records
query = "SELECT * FROM users"
result = pd.read_sql_query(query, conn)

# Save the query results to a CSV file
result.to_csv("output.csv", index=False)

# Close the connection
conn.close()

### Dataframes
- A DataFrame is a two-dimensional labeled data structure that is similar to a table  
- It consists of rows and columns, where each column can have a different data type and a column name

In [ ]:
#creating a dataframe
df={
  "Name":["Alice Kiprotich","Salim Ali"],
  "Age": [21,34]
}
print(df)

### Pandas basic functions

In [ ]:
csv=pd.read_csv("customers.csv")
#print(csv.head(10))
#print(csv.size)
#print(csv.describe())
#print(csv.isnull())
#print(csv.loc[2,"First Name"]) #index 2 column First Name
#print(csv.loc[:,["First Name","Last Name"]]) #select multiple rows
print(csv.loc[:,"First Name":"City"])

#### Dropna()
- Allows to drop rows/columns with null values

*Parameters:*
- axis: axis takes int or string value for rows/columns. 
- how: how takes string value of two kinds only (‘any’ or ‘all’). ‘any’ drops the row/column if ANY value is Null and ‘all’ drops only if ALL values are null.
- thresh: thresh takes integer value which tells minimum amount of na values to drop. 
- subset: It’s an array which limits the dropping process to passed rows/columns through list. 
- inplace: It is a boolean which makes the changes in data frame itself if True.

In [28]:
apple=pd.read_csv("apple_quality.csv")
print(apple.isna())
new_csv=apple.dropna(axis=1,how="any")
print(new_csv.isna())

       A_id   Size  Weight  Sweetness  Crunchiness  Juiciness  Ripeness  \
0     False  False   False      False        False      False     False
1     False  False   False      False        False      False     False
2     False  False   False      False        False      False     False
3     False  False   False      False        False      False     False
4     False  False   False      False        False      False     False
...     ...    ...     ...        ...          ...        ...       ...
3996  False  False   False      False        False      False     False
3997  False  False   False      False        False      False     False
3998  False  False   False      False        False      False     False
3999  False  False   False      False        False      False     False
4000   True   True    True       True         True       True      True

      Acidity  Quality
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False
...       ...      ...
3996    False    False
3997    False    False
3998    False    False
3999    False    False
4000    False     True

[4001 rows x 9 columns]
      Acidity
0       False
1       False
2       False
3       False
4       False
...       ...
3996    False
3997    False
3998    False
3999    False
4000    False

[4001 rows x 1 columns]